<div class="card border-info m-5">
  <div class="card-header">
    <h1>Contacter la team à l'arrache</h1>
  </div>
  <div class="card-body text-info">
    <h5 class="card-title">Moussaillons: Claudia et Maxence</h5>
    <p class="card-text">📧 email de Claudia: claudia@mail.com <br/>
      📧 email de Maxence: maxence@mail.com </p>
  </div>
</div>
