<div class="card border-info m-5">
  <div class="card-header">
    <h1>Contacter l'équipe de chock!'</h1>
  </div>
  <div class="card-body text-info">
    <h5 class="card-title">Moussaillons: Cyrille et Adrien</h5>
    <p class="card-text">@ email de Adrien: cyrille@mail.com <br/>
      @ email de Cyrille: vomito@mail.com </p>
  </div>
</div>
