
 <div class="card border-info m-5">
  <div class="card-header">
    <h1>Team de beau-gosses!</h1>
  </div>
  <div class="card-body text-info">
    <h5 class="card-title">Moussaillons: Cyrille @Howok et Adrien @Gale</h5>
  </div>
</div>

